@import 'def';

body {
  font: 100% $font-stack;
  color: $font-color;
}

main {
  margin-top: 5rem;
}

.round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.navbar {
  background: $primary-color;
}

.nav-item {
  cursor: pointer;
}
